*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #FDFAF3;
  padding: 50px 0;
}
button{
  cursor: pointer;
}
p, ul{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  /* margin: 5px 0 15px; */
  list-style: none;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 20px;
}
/* h3{
  margin: 15px 0;
} */
.sp-content{
  max-width: 672px;
  margin:auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.sp-flex{display: flex}
.sp-flex-row{flex-direction: row;}
.sp-flex-column{flex-direction: column;}
.sp-text-para{
  /* font-family: Avenir Next; */
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.sp-semi-bold{font-weight: 600;}
.sp-underline{text-decoration: underline;}

/* Elements */

.sp-navbar{
  justify-content: space-between;
}
.hero-section{
  margin-top: 80px;
}
.sp-navbar ul{
  display: flex;
  list-style: none;
}
.sp-navbar ul li{
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
.sp-navbar ul li::before{
  cursor: default;
  content: '';
  height: 15px;
  width: 15px;
  /* background-color: red; */
  background: url('./components/img/icon_navstar.svg') no-repeat center center;
  position: absolute;
  top: 7px;
  left: -22px;
}
.sp-navbar ul li:first-child:before{
  content: none;
}
.sp-separator{
  margin-top: 0;
  margin-bottom: 15px;
}
.sp-separator img{ 
  width: 100%;
}
.sp-project-section{
  /* margin-top: 15px; */
  margin-bottom: 15px;
  border-radius: 20px;
}
.sp-project-section:hover{
  cursor: pointer;
  background-color: #ececec;
}
.sp-tag-name{
  padding: 0;
  margin-right: 15px
}
.sp-tag-name span{
  display: flex;
}
.sp-tag-name span img{
  margin-right: 5px;
}
.sp-footnote{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #30303070;
  margin-top: 40px;
}

.selected-work{
  color: #666;
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px 20px;
}
.email-availability button{
  background: #FDFAF3;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  position: relative;
}
.email-availability button span{
  position: relative;
}
.email-availability button span img{
  position: relative;
  top: 3px;
  margin-right: 3px;;
}
.social-icons{
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}
.social-icons li{
  margin-right: 15px;
}